.contacts__wrapper {
  margin: 0 30px;
  outline: 1px dotted purple;
  outline-offset: -1px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__term,
.contacts__description {
  font-size: 14px;
  line-height: 30px;
  color: @dark-grey;
}

.contacts__e-mail {
  background-image: linear-gradient(to right, @lighter-mint 95%, transparent 100%);
  background-position: 0 27px;
  background-repeat: repeat-x;
  background-size: 3px 1px;
}
