.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 23px;

  @media (min-width: @tablet-width) {
    padding: 0 0 30px 0;
    margin-top: 5px;
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  margin-right: 28px;

  @media (min-width: @desktop-width) {
    margin-right: 29px;
  }
}

.copyright__link {
  margin-bottom: -10px;
  background: no-repeat;
}

.copyright__link-icon {
  fill: @light-mint;

  &:hover,
  &:focus {
    fill: @promo-link-right-active;
  }

  &:active {
    fill: lighten(@promo-link-right-active, 30%);
  }
}
