.copyright {
  margin: 0 30px;
  outline: 1px dotted tomato;
  outline-offset: -1px;
}

.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  color: @dark-grey;
}

.copyright__link {
  background: no-repeat;
}
