.main-nav {
  font-weight: 700;
  width: 320px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  align-items: start;
  box-shadow: 0 1px 0 @border-1, inset 0 1px 0 @border-1;

  @media (min-width: @tablet-width) {
    grid-template-columns: 24.9% 23% 12.7% 39.4%;
    z-index: 10;
    box-shadow: none;
    min-width: 672px;
    margin: 0 48px;
    margin-bottom: -63px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1050px;
    grid-template-columns: 17% 22% 27.7% 8% 25.3%;
    grid-template-rows: min-content min-content;
    margin: 0 50px;
    margin-bottom: -45px;
  }
}

.main-nav__logo {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  margin: 23px auto 16px auto;
  cursor: pointer;
  z-index: 1;
  outline: none;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    justify-self: start;
    margin: 0;
    margin-top: 22px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3;
    grid-row: 1;
    margin: 8px 0 10px 40px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo-img {
  @media (min-width: @tablet-width) {
    width: 114px;
    height: 46px;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 33px;
  right: 31px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  padding: 0 0 10px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

/* .main-nav__mobile-menu--closed  */

.main-nav__mobile-menu--closed .main-nav__toggle::before {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: @color-text-caption;
  box-shadow: 0 6px 0 0 @color-text-caption, 0 12px 0 0 @color-text-caption;
}

.main-nav__mobile-menu--closed .main-nav__mobile-menu-wrapper {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav__mobile-menu--nojs .main-nav__toggle {
  display: none;
}

/* .main-nav__mobile-menu--opened  */

.main-nav__mobile-menu--opened .main-nav__toggle::before,
.main-nav__mobile-menu--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -23px;
  width: 27px;
  height: 2px;
  background-color: @color-text-caption;
  box-shadow: none;
}

.main-nav__mobile-menu--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav__mobile-menu--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__mobile-menu {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.main-nav__mobile-menu-wrapper {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 24.9% 23% 12.6% 39.2%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    min-width: 1050px;
    grid-template-columns: 17% 22% 27.7% 8% 25.3%;
    grid-template-rows: auto auto;
  }
}

.main-nav__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    font-size: 15px;
    margin: 2px 0 0 2px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    align-self: center;
    font-size: 17px;
    margin: 0;
  }
}

.main-nav__item,
.main-nav__cart-list,
.main-nav__search-link {
  display: inline-grid;
  min-height: 59px;
  box-shadow: 0 1px 0 @border-1, inset 0 1px 0 @border-1;
  padding: 10px;
  padding-left: 76px;
  align-items: center;

  @media (min-width: @tablet-width) {
    min-height: 60px;
  }
}

.main-nav__link,
.main-nav__cart-link,
.main-nav__search-link,
.main-nav__sale,
.main-nav__new-arrivals {
  color: @color-text-caption;
  outline: none;

  &:hover,
  &:focus {
    color: @link-hover;
  }

  &:active {
    color: @link-down;
  }
}

.main-nav__item,
.main-nav__link,
.main-nav__cart-list,
.main-nav__search-link {
  @media (min-width: @tablet-width) {
    box-shadow: none;
    color: @color-text-caption;
    padding: 0;
  }
}

.main-nav__item:first-child {
  @media (min-width: @desktop-width) {
    min-height: 88px;
    border-right: 1px solid  @border-2;
  }
}

.main-nav__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    padding-left: 8px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 36px;
  }
}

.main-nav__search-link {
  grid-column: 1;
  grid-row: 4;
  position: relative;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    font-size: 0;
    min-width: 82px;
    height: 89px;
    border: 1px solid  @border-2;
    border-bottom: none;
    border-top: none;
    background-position: center center;
  }

  @media (min-width: @desktop-width) {
    grid-column: 4;
    grid-row: 1;
    font-size: 0;
  }

  &:hover .main-nav__search-link-icon,
  &:focus .main-nav__search-link-icon {
    fill: @icon-hover;
  }

  &:active .main-nav__search-link-icon {
    fill: @icon-down;
  }
}

.main-nav__cart-list {
  position: relative;
  grid-column: 1;
  grid-row: 5;
  border-bottom: 1px solid @border-1;

  @media (min-width: @tablet-width) {
    grid-column: 4;
    grid-row: 1;
    justify-self: end;
    align-self: center;
    border-bottom: none;
    padding-left: 54px;
    background-position: 3px center;
  }

  @media (min-width: @desktop-width) {
    grid-column: 5;
    grid-row: 1;
    justify-self: end;
    align-self: center;
    border-bottom: none;
    margin-right: 2px;
  }
}

.main-nav__cart-link {
  &:hover .main-nav__cart-link-icon,
  &:focus .main-nav__cart-link-icon {
    fill: @icon-hover;
  }

  &:active .main-nav__cart-link-icon {
    fill: @icon-down;
  }
}

.main-nav__search-link-icon,
.main-nav__cart-link-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  fill: @icon;
}

.main-nav__search-link-icon {
  @media (min-width: @tablet-width) {
    top: 35px;
  }
}

.main-nav__cart-link-icon {
  @media (min-width: @tablet-width) {
    top: 20px;
    left: 3px;
  }
}

.main-nav__new-arrivals,
.main-nav__sale {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-grid;
    font-size: 15px;
    color: @color-text-caption;
    padding-top: 19px;
    grid-column: 1;
    grid-row: 2;
  }
}

.main-nav__sale {
  @media (min-width: @desktop-width) {
    display: inline-grid;
    font-size: 15px;
    color: @color-text-caption;
    padding: 19px 0 0 41px;
    grid-column: 2;
    grid-row: 2;
  }
}

.main-nav__delivery-text {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-grid;
    grid-column: 4;
    grid-row: 2;
    justify-self: end;
    margin: 0;
    align-self: center;
    font-size: 15px;
    font-weight: 400;
    color: @decoration-color-2;
  }

  @media (min-width: @desktop-width) {
    display: inline-grid;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 2;
    justify-self: end;
    margin: 0;
    align-self: center;
    font-size: 15px;
    font-weight: 400;
    color: @decoration-color-2;
    padding-top: 19px;
  }
}
