.modal {
  margin: 0 30px;
  outline: 1px dotted pink;
  outline-offset: -1px;
}

.modal-select-size {
  display: none;
}

.modal__title {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
}

.modal__text {
  font-size: 15px;
  line-height: 30px;
  color: @dark-grey;
}

.modal__label-size {
  font-weight: 700;
  line-height: 16px;
  color: @dark-grey;
}

.modal__input-size--active {
  border: 2px solid @light-mint;
}

.modal__add-button {
  background-color: @light-mint;
  color: @white;
  border: none;
}
