.modal {
  display: none;
  border: 1px solid @light-grey;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: @tablet-width) {
    width: 566px;
    margin: 0 auto;
  }
}

.modal__wrapper {
  margin: 0 30px;

  @media (min-width: @tablet-width) {
    margin: auto 108px;
  }
}

.modal__title {
  margin: 28.5px 50px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.modal__text {
  font-size: 15px;
  line-height: 30px;
  color: @dark-grey;
  text-align: center;
}

.modal__form {
  margin: 0 30px;

  @media (min-width: @tablet-width) {
    margin: auto 108px;
  }
}

.modal__form-container {
  display: flex;
  justify-content: center;
}

.modal__input-size {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.modal__label-size {
  display: inline-flex;
  width: 58px;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 16px;
  color: @dark-grey;
  border: 2px solid @black-10;
  padding: 10px;
  margin-right: 7px;

  @media (min-width: @tablet-width) {
    width: 188px;
  }
}

.modal__label-size:last-child {
  margin: 0;
}

.modal__label-size--active,
.modal__label-size:hover,
.modal__label-size:focus {
  border: 2px solid @light-mint;
}

.modal__add-button {
  background-color: @light-mint;
  color: @white;
  border: none;
  margin: 31px auto 46px auto;
}
