.social {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  justify-self: center;

  @media (min-width: @tablet-width) {
    border: none;
    width: 30%;
    align-self: center;
    padding-top: 5px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 142px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  list-style: none;
}

.social__link-icon {
  fill: @dark-grey;

  &:hover,
  &:focus {
    fill: @promo-link-right-active;
  }

  &:active {
    fill: lighten(@promo-link-right-active, 30%);
  }
}
