.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 260px;
  padding: 15px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @dark-grey;
  background-color: @white;
  border: 2px solid @dark-grey;
  text-transform: uppercase;
}
