@white: rgba(255, 255, 255, 1); /* фон сайта */
@black: rgba(0, 0, 0, 1); /* для заголовков */
@black-20: lighten(@black, 80%); /* для иконок поиска и корзины */
@light-mint: rgba(99, 209, 187, 1); /* пункт выбора  "Предметы интерьера" */
@dark-mint: rgba(86, 195, 178, 1); /* пункт выбора  "Детские игрушки", текст "Товар недели", иконки в преимуществах, логотип htmlacademy */
@grey-mint: rgba(20, 144, 128, 1); /* иконки у пунктов выбора типа изделия */
@dark-grey: rgba(68, 68, 68, 1); /* текст, кнопки(text and border) */
@almost-black: rgba(35, 31, 32, 1); /* иконки соц.сетей в мобильной версии, палка флажка в остальных */
@mint: rgba(107, 198, 179, 1); /* маркер на карте */
@lighter-grey: rgba(241, 241, 241, 1); /* волнистая линия в планшетной и десктопной версиях, фон в форме */
@light-grey: rgba(236, 236, 236, 1); /* разделители пунктов меню в мобверсии */
@lighter-mint: rgba(98, 209, 186, 1); /* для подчёркивания e-mail */

/* hover */

@link-hover: lighten(@black, 60%);
