.about__wrapper {
  margin: 0 30px;
  outline: 1px dotted yellow;
  outline-offset: -1px;
}

.about__caption {
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
