.contacts {
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin: 70px auto;
  }
}

.contacts__container {
  width: 260px;
  margin: 0 auto 38px;

  @media (min-width: @tablet-width) {
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 880px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 36% 64%;
    align-items: start;
    margin: 3px auto 105px 175px;
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    position: relative;
    margin: 70px 0 49px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    grid-row: 1;
    font-size: 53px;
    line-height: 57px;
    padding: 0;
    margin: 80px 0 0;
  }
}

.contacts__title::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    display: inline-grid;
    content: "";
    width: 47px;
    height: 81px;
    margin: -23px 0 0 397px;
    background: url("data:image/svg+xml,%3Csvg width='47' height='81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.766 3.862v38.52L47 23.071 7.766 3.862zM0 80.9V0h3.833v80.9H0z' fill='%2363D1BB'/%3E%3Cpath d='M3.833.1H0V81h3.833V.1z' fill='%23231F20'/%3E%3C/svg%3E") right bottom no-repeat;
  }

  @media (min-width: @desktop-width) {
    margin: -20px 0 0 -385px;
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: 78px 180px;
  grid-template-rows: auto;
  align-items: start;

  @media (min-width: @tablet-width) {
    grid-template-columns: 10.2% 39.6% 10.2% 40%;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 19% 81%;
    grid-template-rows: auto auto;
    margin: 8px 0 0;
  }
}

.contacts__description {
  margin-left: 0;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
  }
}

.contacts__term,
.contacts__description {
  display: inline-grid;
  font-size: 14px;
  line-height: 30px;
  color: @decoration-color-2;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__term:first-child,
.contacts__description:first-child {
  margin-bottom: 30px;
}

.contacts__term:first-child {
  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 1;
  }
}

.contacts__term:nth-child(2) {
  @media (min-width: @tablet-width) {
    grid-column: 3;
    grid-row: 1;
  }
}

.contacts__description:first-child {
  @media (min-width: @tablet-width) {
    grid-column: 4;
    grid-row: 1;
  }
}

.contacts__description:nth-child(2) {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 1;
  }
}

.contacts__email-link {
  color: @decoration-color-2;
  background-image: linear-gradient(to right, @decoration-color-1 99%, transparent 100%);
  background-size: 200px 1px;
  background-position: 0 27px;
  background-repeat: no-repeat;
  outline: none;

  &:hover,
  &:focus {
    color: @email-link-hover;
    background-image: linear-gradient(to right, @email-link-hover 99%, transparent 100%);
  }

  &:active {
    background-image: none;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
    background-position: 0 78%;
    background-size: 80% 1px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 10px;
    background-position: 0 87%;
    background-size: 76% 1px;
  }
}

.contacts__box-map {
  width: @mobile-width;
  height: 455px;
  margin: 62px -30px 0;
  background: oldlace url("../img/map-mobile.jpg");

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    height: 457px;
    margin: 49px -50px 0;
    background: oldlace url("../img/map-tablet.jpg");
  }

  @media (min-width: @desktop-width) {
    width: 527px;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0;
    background: oldlace url("../img/map-desktop.jpg");
  }
}

.contacts__box-map-iframe {
  width: 100%;
  height: 100%;
  border: none;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.contacts__write-us-button {
  width: 225px;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 15px;
  margin: 43px auto 38px;

  @media (min-width: @tablet-width) {
    width: 198px;
    font-size: 17px;
    margin: 56px auto;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    align-self: end;
    justify-self: start;
  }
}
