.promo {
  background: url("../img/hero-mobile.jpg") no-repeat center -20px;

  @media (min-width: @tablet-width) {
    background: url("../img/hero-tablet.jpg") no-repeat center top;
    border-top: 1px solid @black-10;
    z-index: 0;
  }

  @media (min-width: @desktop-width) {
    background: url("../img/hero-desktop.jpg") no-repeat center top;
  }
}

.promo::after {
  @media (min-width: @tablet-width) {
    display: block;
    z-index: 100;
    content: "";
    width: @tablet-width;
    height: 24px;
    background: url("data:image/svg+xml,%3Csvg width='768' height='24' viewBox='0 0 768 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M749.783 0C740.142 0 740.142 9.88235 730.567 9.88235C720.992 9.88235 720.925 0 711.35 0C701.776 0 701.709 9.88235 692.134 9.88235C682.492 9.88235 682.492 0 672.85 0C663.209 0 663.209 9.88235 653.634 9.88235C643.992 9.88235 643.992 0 634.417 0C624.776 0 624.776 9.88235 615.201 9.88235C605.626 9.88235 605.358 0 595.783 0C586.142 0 586.142 9.88235 576.567 9.88235C566.992 9.88235 566.858 0 557.283 0C547.642 0 547.642 9.88235 538.067 9.88235C528.425 9.88235 528.425 0 518.783 0C509.142 0 509.142 9.88235 499.567 9.88235C489.925 9.88235 489.925 0 480.35 0C470.776 0 470.642 9.88235 461 9.88235C451.358 9.88235 451.358 0 441.783 0C432.142 0 432.142 9.88235 422.567 9.88235C412.925 9.88235 412.925 0 403.283 0C393.642 0 393.642 9.88235 384.067 9.88235C374.425 9.88235 374.425 0 364.85 0C355.209 0 355.209 9.88235 345.634 9.88235C335.992 9.88235 335.992 0 326.417 0C316.776 0 316.776 9.88235 307.134 9.88235C297.492 9.88235 297.492 0 287.85 0C278.209 0 278.209 9.88235 268.567 9.88235C258.925 9.88235 258.925 0 249.283 0C239.642 0 239.642 9.88235 230 9.88235C220.358 9.88235 220.358 0 210.717 0C201.075 0 201.075 9.88235 191.433 9.88235C181.791 9.88235 181.791 0 172.15 0C162.508 0 162.508 9.88235 152.933 9.88235C143.291 9.88235 143.291 0 133.65 0C124.008 0 124.008 9.88235 114.366 9.88235C104.724 9.88235 104.724 0 95.0826 0C85.4409 0 85.4409 9.88235 75.7991 9.88235C66.1574 9.88235 66.1574 0 56.5157 0C47.1417 0 47.1417 9.88235 37.5 9.88235C27.8583 9.88235 27.8583 0 18.2835 0C8.70869 0 8.64174 9.88235 -1 9.88235V24H769V9.88235C759.358 9.88235 759.358 0 749.783 0Z' fill='white'/%3E%3C/svg%3E%0A") center no-repeat;
    margin-top: -12px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    height: 34px;
    background: url("data:image/svg+xml,%3Csvg width='1150' height='34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1168.8 0c-15.65 0-15.65 14-31.19 14-15.54 0-15.65-14-31.2-14-15.54 0-15.65 14-31.19 14-15.65 0-15.65-14-31.31-14-15.65 0-15.65 14-31.19 14-15.655 0-15.655-14-31.198-14-15.652 0-15.652 14-31.196 14-15.543 0-15.978-14-31.522-14-15.652 0-15.652 14-31.195 14-15.544 0-15.761-14-31.305-14-15.652 0-15.652 14-31.195 14-15.653 0-15.653-14-31.305-14s-15.652 14-31.195 14c-15.653 0-15.652-14-31.196-14C715.87 0 715.652 14 700 14c-15.652 0-15.652-14-31.196-14-15.652 0-15.652 14-31.195 14-15.653 0-15.653-14-31.305-14s-15.652 14-31.195 14c-15.653 0-15.652-14-31.196-14-15.652 0-15.652 14-31.196 14-15.652 0-15.652-14-31.195-14-15.652 0-15.652 14-31.305 14-15.652 0-15.652-14-31.304-14s-15.652 14-31.304 14-15.652-14-31.305-14C340.652 0 340.652 14 325 14S309.348 0 293.696 0c-15.653 0-15.653 14-31.305 14S246.739 0 231.087 0s-15.652 14-31.196 14c-15.652 0-15.652-14-31.304-14s-15.652 14-31.304 14C121.63 14 121.63 0 105.978 0S90.326 14 74.674 14 59.022 0 43.37 0C28.152 0 28.152 14 12.5 14-3.152 14-3.152 0-18.696 0-34.239 0-34.348 14-50 14v20h1250V14c-15.65 0-15.65-14-31.2-14z' fill='%23fff'/%3E%3C/svg%3E") center no-repeat;
    margin-top: -17px;
  }
}

.promo__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 50px;
  }
}

.promo__caption {
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  margin: 72px 30px 122px 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 155px 35px 372px 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin: 157px 50px 355px 50px;
  }
}

.promo__list {
  list-style: none;
  width: 320px;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 30px;
    width: 668px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.promo__item:nth-child(1) {
  background: @light-mint url("data:image/svg+xml,%3Csvg width='40' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.5' fill='%23149080'%3E%3Cpath d='M15.162 38.847c-.3 1-.2 2.199 0 3.598.499 2.598 1.696 5.996 2.394 9.694h5.087c.698-3.598 1.895-6.996 2.494-9.694.3-1.4.3-2.699 0-3.598-.3-.9-.898-1.6-1.995-2.299h-5.985c-1.197.7-1.796 1.4-1.995 2.299zM26.933 58.836H13.167c-1.297 0-2.294.999-2.294 2.198v2.199h18.354v-2.199c0-1.199-.998-2.198-2.294-2.198zM34.015 3.169h-11.67c0-1.2-.998-2.199-2.295-2.199s-2.294 1-2.294 2.199H6.085L0 28.654c.798-.5 1.596-1 2.594-1 1.396 0 2.194.8 2.892 1.4.699.6 1.197.8 1.397.8.299 0 .798-.3 1.496-.8s1.596-1.4 2.893-1.4c1.297 0 2.194.8 2.893 1.4.698.5 1.197.8 1.496.8.1 0 .3-.1.598-.2.2-.1.5-.4.898-.6.499-.4 1.097-1 1.995-1.2.3-.1.599-.1.898-.1 1.297 0 2.194.8 2.893 1.4.698.5 1.197.8 1.496.8.3 0 .798-.3 1.396-.8.699-.6 1.596-1.4 2.893-1.4 1.397 0 2.195.8 2.893 1.4.3.3.598.5.898.6.2.1.399.2.598.2.3 0 .798-.3 1.397-.9.698-.6 1.596-1.4 2.892-1.4.998 0 1.796.5 2.594 1L34.015 3.169zM23.442 54.338h-6.883c-.699 0-1.098.5-1.098 1.1 0 .6.5 1.099 1.098 1.099h6.883c.698 0 1.097-.5 1.097-1.1.1-.6-.4-1.099-1.098-1.099z'/%3E%3Cpath d='M20.05 29.852c-.1 0-.3.1-.599.2-.2.1-.399.3-.598.4v3.697h2.294v-3.597c-.499-.4-.898-.7-1.097-.7z'/%3E%3C/g%3E%3C/svg%3E") 244px 25px no-repeat;

  @media (min-width: @tablet-width) {
    width: 50%;
    background-position: 257px 28px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    background-position: 450px 30px;
  }
}

.promo__item:nth-child(2) {
  background: @dark-mint url("data:image/svg+xml,%3Csvg width='60' height='61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.5' d='M0 44.578l27.4 16.075V37.097L0 20.92v23.657zm51.3-31.644v2.528c0 1.82-3.5 3.336-7.7 3.336-4.3 0-7.7-1.516-7.7-3.336v-4.145c.3 1.719 3.6 3.134 7.7 3.134 4.3 0 7.7-1.517 7.7-3.336 0-1.82-3.5-3.337-7.7-3.337h-1l-5-2.931V7.98c0 1.82-3.5 3.336-7.7 3.336-2.7 0-5-.607-6.4-1.517-.2-.202-.4-.404-.7-.606-.4-.405-.6-.809-.6-1.213V4.948l-4.8 2.83h-1.1c-4.3 0-7.7 1.517-7.7 3.337 0 1.82 3.5 3.336 7.7 3.336 4.1 0 7.4-1.415 7.7-3.134v4.145c0 1.82-3.5 3.336-7.7 3.336-4.3 0-7.7-1.516-7.7-3.336v-2.426l-6 3.538L30.1 32.75l27.4-16.075-6.2-3.74zM37.7 23.246c0 1.82-3.5 3.337-7.7 3.337-4.3 0-7.7-1.517-7.7-3.337v-4.145c.3 1.719 3.6 3.134 7.7 3.134s7.4-1.415 7.7-3.134v4.145zM32.6 37.3v23.354L60 44.578V21.224L32.6 37.3zM29.9 7.071c4.3 0 7.7-1.517 7.7-3.336 0-1.82-3.5-3.337-7.7-3.337-4.3 0-7.7 1.517-7.7 3.337 0 1.82 3.4 3.336 7.7 3.336z' fill='%23149080'/%3E%3C/svg%3E") 233px 25px no-repeat;

  @media (min-width: @tablet-width) {
    width: 50%;
    background-position: 240px 30px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    background-position: 430px 30px;
  }
}

.promo__link {
  display: block;
  padding: 24px 150px 31px 30px;
  color: @white;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    padding: 25px 130px 35px 35px;
    color: @white;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 350px;
  }
}
