.promoted-product::after {
  display: block;
  content: "";
  width: 320px;
  height: 7px;
  background: url("../img/zigzag-line-mobile.svg") center no-repeat;
  margin: 37px 0 10px 0;

  @media (min-width: @tablet-width) {
    height: 17px;
    width: 100%;
    background: url("../img/zigzag-line-tablet.svg") center no-repeat;
    margin: 51px 0 4px 0;
  }

  @media (min-width: @desktop-width) {
    height: 23px;
    width: 100%;
    background: url("../img/zigzag-line-desktop.svg") center no-repeat;
    margin: 73px 0 13px 0;
  }
}

.promoted-product__wrapper {
  margin: 32px 30px;

  @media (min-width: @tablet-width) {
    margin: 38px 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
    align-items: start;
    align-content: start;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 16.7% 33.3% 50%;
    grid-template-rows: auto auto auto auto auto;
    margin: 57px 50px 20px 50px;
  }
}

.promoted-product__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    padding: 60px 0 17px 0;
    font-size: 53px;
    line-height: 57px;
    z-index: 10;
  }
}

.promoted-product__feuture {
  line-height: 20px;
  text-transform: uppercase;
  color: @light-mint;
  font-weight: 700;
  margin: 4px 0 17px 0;

  @media (min-width: @tablet-width) {
    grid-column: 4;
    grid-row: 1;
    margin: 0;
    line-height: 17px;
    text-align: center;
    justify-items: end;
    padding: 5px 10px 5px 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 68px 50px 50px 38px;
  }
}

.promoted-product__description {
  font-size: 15px;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    font-size: 17px;
    line-height: 30px;
    padding: 21px 42px 17px 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 2;
    padding: 0 50px 29px 0;
  }
}

.promoted-product__characteristic {
  display: grid;
  grid-template-columns: 98px 162px;
  grid-template-rows: auto auto auto;
  font-size: 15px;
  line-height: 20px;
  color: @dark-grey;
  margin: 21px 0 27px 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: 97px 197px;
    grid-template-rows: auto auto auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
    margin: 7px 0 26px 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 3;
    margin-bottom: 78px;
  }
}

.promoted-product__characteristic-term,
.promoted-product__characteristic-description {
  padding: 6px 0 13px 0;
  border-bottom: 1px solid @white-grey;
  margin: 0;
}

.promoted-product__characteristic-term:first-child {
  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 1;
  }
}

.promoted-product__characteristic-term:nth-child(2) {
  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 3;
  }
}

.promoted-product__characteristic-term:nth-child(3) {
  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 2;
  }
}

.promoted-product__characteristic-description:first-child {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 2;
  }
}

.promoted-product__characteristic-description:nth-child(2) {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 1;
  }
}

.promoted-product__characteristic-description:nth-child(3) {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 3;
  }
}

.promoted-product__img-container {
  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
    align-self: end;
    justify-self: end;
    width: 334px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    align-self: start;
    justify-items: end;
    width: 525px;
    height: 636px;
  }
}

.promoted-product__img {
  @media (min-width: @tablet-width) {
    width: 334px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.promoted-product__price {
  font-weight: 700;
  color: @dark-grey;
  text-align: center;
  margin: 21px 0 23px 0;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
    font-size: 20px;
    justify-self: start;
    margin: 30px 71px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 4;
  }
}

.promoted-product__button-order {
  width: 100%;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 5;
    min-width: 292px;
    font-size: 17px;
    margin-top: 3px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 5;
    width: 292px;
    margin-top: 0;
  }
}
