.promo {
  background: url("../img/hero-mobile.jpg") no-repeat;
}

.promo__wrapper {
  outline: 1px dotted orange;
  outline-offset: -1px;
}

.promo__caption {
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 120px;
  padding-top: 90px;
}

.promo__list {
  list-style: none;
  width: 320px;
  margin: 0;
  padding: 0;
}

.promo__item:nth-child(1) {
  background-color: @light-mint;
}

.promo__item:nth-child(2) {
  background-color: @dark-mint;
}

.promo__link {
  display: block;
  padding: 24px 150px 31px 30px;
  color: @white;
  font-weight: 700;
}
