.promo-wrapper {
  outline: 1px dotted orange;
  outline-offset: -1px;
}

.promo {
  background: url("../img/hero-mobile.jpg") no-repeat;
}

.promo__caption {
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 120px;
  padding-top: 90px;
}

.promo__list {
  list-style: none;
  width: 320px;
  margin: 0;
  padding: 0;
}

.promo__item:nth-child(1) {
  background-color: @light-mint;
}

.promo__item:nth-child(2) {
  background-color: @dark-mint;
}

.promo__link {
  display: block;
  padding: 24px 150px 31px 30px;
  color: @white;
  font-weight: 700;
}

.promoted-product {
  margin: 0 30px;
  outline: 1px dotted plum;
  outline-offset: -1px;
}

.promoted-product__title {
  font-size: 25px;
  line-height: 30px;
}

.promoted-product__feuture {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @light-mint;
  font-weight: 700;
}

.promoted-product__description {
  font-size: 15px;
  line-height: 24px;
  color: @dark-grey;
}

.promoted-product__characteristic {
  font-size: 15px;
  line-height: 20px;
  color: @dark-grey;
}

.promoted-product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @dark-grey;
  text-align: center;
}
