.reviews__wrapper {
  margin: 0 30px;
  outline: 1px dotted green;
  outline-offset: -1px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__quote {
  margin: 0;
  padding: 0;
}

.reviews__text {
  color: @dark-grey;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.reviews__author-email {
  font-weight: 400;
  color: @dark-grey;
  font-size: 17px;
  line-height: 30px;
}

.reviews__write {
  width: 216px;
}
