.advance {
  display: grid;
  z-index: 1;

  @media (min-width: @tablet-width) {
    border-top: 1px solid @black-10;
  }
}

.advance__wrapper {
  margin: 0 30px;

  @media (min-width: @tablet-width) {
    margin: 0 50px;
  }
}

.advance__title {
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding: 75px 15px 73px 15px;
  background-color: @lighter-grey;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding: 100px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.advance__title::after {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    content: "";
    width: 100%;
    height: 24px;
    margin: 63px 0 0 0;
    background: url("data:image/svg+xml,%3Csvg width='768' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M749.784 0c-9.642 0-9.642 9.882-19.217 9.882S720.925 0 711.35 0c-9.574 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.284-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.217-9.882-9.641 0-9.641 9.882-19.216 9.882-9.575 0-9.843-9.882-19.418-9.882-9.641 0-9.641 9.882-19.216 9.882-9.575 0-9.709-9.882-19.284-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.284-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.217-9.882-9.574 0-9.708 9.882-19.35 9.882-9.642 0-9.642-9.882-19.217-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.284-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.217-9.882-9.641 0-9.641 9.882-19.216 9.882-9.642 0-9.642-9.882-19.217-9.882-9.641 0-9.641 9.882-19.283 9.882-9.642 0-9.642-9.882-19.284-9.882-9.641 0-9.641 9.882-19.283 9.882-9.642 0-9.642-9.882-19.284-9.882-9.641 0-9.641 9.882-19.283 9.882-9.642 0-9.642-9.882-19.283-9.882-9.642 0-9.642 9.882-19.284 9.882S181.791 0 172.15 0c-9.642 0-9.642 9.882-19.217 9.882-9.642 0-9.642-9.882-19.283-9.882-9.642 0-9.642 9.882-19.284 9.882S104.724 0 95.083 0C85.44 0 85.44 9.882 75.799 9.882S66.157 0 56.516 0C47.142 0 47.142 9.882 37.5 9.882 27.858 9.882 27.858 0 18.284 0 8.709 0 8.642 9.882-1 9.882V24h770V9.882c-9.642 0-9.642-9.882-19.216-9.882z' fill='%23fff'/%3E%3C/svg%3E") center bottom no-repeat;
  }

  @media (min-width: @desktop-width) {
    height: 34px;
    margin: 72px 0 6px 0;
    transform: scale(1.5, 1.65);
    width: 100%;
  }
}

.advance__text {
  font-size: 13px;
  color: @dark-grey;
  margin: 17px 0 9px 0;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin: 54px 30px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 100px 175px 0 175px;
  }
}
