.form {
  margin: 0 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.form__fieldset {
  border: none;
  border-top: 1px solid @dark-grey;
  margin: 20px 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 28.1% 71.9%;
    align-items: start;
    margin: 0 50px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 19.5% 89.1%;
  }
}

.form__bgcolor-box {
  @media (min-width: @tablet-width) {
    background-color: @lighter-grey;
    padding: 25px 0 0 0;
  }
}

.form__legend {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: @light-mint;
  padding: 0 24px 0 0;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 1;
    margin: 0 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    grid-row: 1;
    margin: 0 0 0 110px;
  }
}

.form__container {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 1;
    margin-top: -62px;
  }
}

.form__hidden-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  border: none;
  box-shadow: inset 0 -2px 0 @black;
  padding: 16px 0;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  background-color: inherit;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;
    padding: 15px 15px 14px 15px;
    width: calc(100% - 80px);
  }
}

.form__label {
  font-weight: 700;
  line-height: 18px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

/* form__container type */

.form__fieldset-type {
  margin: 20px 0 0 0;

  @media (min-width: @tablet-width) {
    margin: 85px 0 55px 0;
  }
}

.form__container-type {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form__label-interior-accessories {
  margin: 32px 0 -15px 0;

  @media (min-width: @tablet-width) {
    margin: 32px 0 -15px 10px;
  }
}

.form__label-childrens-toy {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin: 25px 0 0 12px;
  }
}

.form__input-interior-accessories + .form__label::before,
.form__input-interior-accessories:not(:disabled):not(:checked) + .form__label:hover::before,
.form__input-interior-accessories:focus:not(:checked) + .form__label::before,
.form__input-childrens-toy + .form__label::before,
.form__input-childrens-toy:not(:disabled):not(:checked) + .form__label:hover::before,
.form__input-childrens-toy:focus:not(:checked) + .form__label::before {
  display: inline-flex;
  content: "";
  width: 42px;
  height: 41px;
  padding-right: 19px;
  background: url("data:image/svg+xml,%3Csvg width='42' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.91 1.513c10.584 0 19.132 8.42 19.132 18.766 0 10.347-8.549 18.766-19.132 18.766-10.584 0-19.132-8.419-19.132-18.766 0-10.347 8.548-18.766 19.132-18.766z' stroke='%23444' stroke-width='2'/%3E%3C/svg%3E") left no-repeat;

  @media (min-width: @tablet-width) {
    transform: scale(1.24);
    padding-right: 27px;
  }
}

.form__input-interior-accessories:checked + .form__label::before,
.form__input-childrens-toy:checked + .form__label::before {
  display: inline-flex;
  content: "";
  width: 42px;
  height: 42px;
  padding-right: 24px;
  background: url("data:image/svg+xml,%3Csvg width='42' height='42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.91 2.513c10.584 0 19.132 8.42 19.132 18.766 0 10.347-8.549 18.766-19.132 18.766-10.584 0-19.132-8.419-19.132-18.766 0-10.347 8.548-18.766 19.132-18.766z' stroke='%23444' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.194 13.24a7.933 7.933 0 110 15.867 7.933 7.933 0 110-15.866z' fill='%2362D1BA'/%3E%3C/svg%3E") left center no-repeat;

  @media (min-width: @tablet-width) {
    padding-right: 28px;
  }
}

/* form__container color */

.form__fieldset-color {
  margin: 31px 0 26px 0;

  @media (min-width: @tablet-width) {
    margin: 42px 0 0 0;
  }
}

.form__fieldset-color .form__legend {
  padding-right: 17px;
}

.form__wrapper-color br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__wrapper-color {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 25px 0 10px 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 47.5% 52.5%;
    grid-template-rows: auto auto auto;
    margin: -27px 0 63px 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 25.5% 25.8% 1fr;
    grid-template-rows: auto;
  }
}

.form__input-color + .form__label {
  margin-bottom: -1px;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 13px;
  }

  @media (min-width: @desktop-width) {
    margin: -1px 0 0 14px;
  }
}

.form__input-color + .form__label-color-white {
  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 39px;
  }
}

.form__input-color + .form__label-color-grey {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 39px;
  }
}

.form__input-color + .form__label-color-turquoise {
  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3;
    grid-row: 1;
    margin-bottom: 38px;
  }
}

.form__input-color + .form__label-color-black {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 0;
  }
}

.form__input-color + .form__label-color-pink {
  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 0;
  }
}

.form__label-color-orange {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 3;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3;
    grid-row: 2;
    margin-bottom: 0;
  }
}

.form__input-color + .form__label::before,
.form__input-color:not(:disabled):not(:checked) + .form__label:hover::before,
.form__input-color:focus:not(:checked) + .form__label::before {
  display: inline-flex;
  content: "";
  width: 38px;
  height: 38px;
  padding-right: 23px;
  background: url("data:image/svg+xml,%3Csvg width='38' height='38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23444' stroke-width='2' d='M1 1h36v36H1z'/%3E%3C/svg%3E") no-repeat;

  @media (min-width: @tablet-width) {
    transform: scale(1.4);
    padding-right: 30px;
  }
}

.form__input-color:checked + .form__label::before {
  display: inline-flex;
  content: "";
  width: 38px;
  height: 38px;
  background: url("data:image/svg+xml,%3Csvg width='38' height='38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23444' stroke-width='2' d='M1 1h36v36H1z'/%3E%3Cpath d='M30.963 12.684l-.994-.992-14.204 14.094-7.03-7.011-.994.991 7.03 7.012.994.991 1.066-.991 14.132-14.094z' fill='%23000'/%3E%3C/svg%3E") no-repeat;
}

/* form__container full name */

.form__fieldset-full-name {
  margin: 10px 0;

  @media (min-width: @tablet-width) {
    margin: 63px 0 8px 0;
  }
}

.form__fieldset-full-name .form__legend {
  padding-right: 19px;
}

.form__container-full-name {
  margin: 30px 0 0 0;

  @media (min-width: @tablet-width) {
    margin: -20px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    width: 90%;
  }
}

.form__paragraph-full-name {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-items: start;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
    margin-bottom: 18px;
  }
}

.form__paragraph-full-name,
.form__container-tel,
.form__container-email,
.form__container-add {
  @media (min-width: @desktop-width) {
    margin-right: 173px;
  }
}

.form__label-name,
.form__label-surname,
.form__label-patronymic {
  grid-row: 1;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 1;
    order: 0;
    margin-right: 28px;
  }
}

.form__input-name,
.form__input-surname,
.form__input-patronymic {
  grid-row: 2;

  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 1;
    order: 1;
    margin-top: -20px;
  }
}

/* form__container tel */

.form__fieldset-tel {
  margin-top: 12px;
}


.form__fieldset-tel .form__container {
  padding: 5px 0 16px 0;

  @media (min-width: @tablet-width) {
    padding: 10px 0 0 0;
  }
}

.form__fieldset-tel .form__legend {
  padding-right: 28px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 30px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 30px 0 0 60px;
  }
}

.form__input-tel {
  @media (min-width: @tablet-width) {
    margin: 15px 0 0 -21px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    margin: 16px 0 0 -29px;
    width: 680px;
    padding: 15px 5px 14px 15px;
  }
}

.form__input-tel::placeholder {
  display: inline-flex;
  content: "";
  width: 25px;
  height: 24px;
  background: url("data:image/svg+xml,%3Csvg width='25' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.2' fill='%23000'%3E%3Cpath d='M17.44 24h-1.11c-4.939-.593-8.568-2.864-11.189-5.728C2.521 15.408.403 11.753 0 6.716V5.333c.1-.888.504-1.481 1.109-2.074.605-.69 1.613-1.481 2.52-1.58.706 0 1.815.494 2.218 1.087.403.493.605 1.58.806 2.37.202.889.605 1.975.504 2.765-.201 1.186-1.814 1.68-2.217 2.568 1.612 3.655 4.133 6.42 7.56 8.198.806-.494 1.613-1.877 2.823-1.877.403 0 1.008.198 1.41.297.505.098.908.296 1.311.493.706.297 2.017.593 2.42 1.186.403.592.705 1.58.605 2.172-.303 1.284-2.42 2.667-3.63 3.062zM12.6 1.481c5.948 0 10.888 4.741 10.888 10.667H25C25 5.432 19.456 0 12.6 0v1.481z'/%3E%3Cpath d='M12.6 9.185v1.58c.807 0 1.412.593 1.412 1.383h1.613c0-1.58-1.31-2.963-3.024-2.963zM12.6 6.124c3.327 0 6.15 2.666 6.15 6.024h1.613c0-4.148-3.427-7.506-7.661-7.506v1.482H12.6z'/%3E%3C/g%3E%3C/svg%3E") 228px center no-repeat;

  @media (min-width: @tablet-width) {
    background-position: 435px center;
  }

  @media (min-width: @desktop-width) {
    margin-right: 20px;
    background-position: 650px center;
  }
}

/* form__container email */

.form__fieldset-email {
  @media (min-width: @tablet-width) {
    margin: 17px 0 70px 0;
  }
}

.form__fieldset-email .form__legend {
  padding-right: 21px;
}

.form__fieldset-email .form__input {
  @media (min-width: @tablet-width) {
    margin: -45px 50px 0 0;
    width: 100%;
    padding: 15px 15px 14px 18px;
  }

  @media (min-width: @desktop-width) {
    margin: -45px 0 0 0;
    width: 685px;
    padding: 15px 0 14px 18px;
  }
}

.form__container-email {
  margin: 7px 0 14px 0;

  @media (min-width: @tablet-width) {
    margin: 7px 0 50px 0;
  }
}

.form__input-email::placeholder {
  display: inline-flex;
  content: "";
  width: 32px;
  height: 21px;
  background: url("data:image/svg+xml,%3Csvg width='32' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.2' d='M28 0H4C1.8 0 0 1.8 0 4v13c0 2.2 1.8 4 4 4h24c2.2 0 4-1.8 4-4V4c0-2.2-1.8-4-4-4zM2 5.3l7 5.3-7 5.3V5.3zM30 17c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2l7.8-5.9 4.4 3.3c.5.4 1.2.6 1.8.6.6 0 1.3-.2 1.8-.6l4.4-3.3L30 17zm0-1.2l-7-5.3 7-5.3v10.6zm-12.8-2.2c-.4.3-.8.4-1.2.4-.4 0-.9-.1-1.2-.4l-4.1-3.1-.8-.6L2 4c0-1.1.9-2 2-2h24c1.1 0 2 .9 2 2l-12.8 9.6z' fill='%23000'/%3E%3C/svg%3E") 224px center no-repeat;

  @media (min-width: @tablet-width) {
    height: 26px;
    background-position: 430px 5px;
  }

  @media (min-width: @desktop-width) {
    background-position: 645px center;
  }
}

/* form__container add */

.form__fieldset-add .form__legend {
  padding-right: 21px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.form__fieldset-add {
  @media (min-width: @desktop-width) {
    margin: 0 112px;
  }
}

.form__container-add {
  margin: 21px 0 0 0;

  @media (min-width: @tablet-width) {
    margin: -35px 0 50px -20px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
    margin: -35px 0 45px -68px;
  }
}

.form__input-add {
  padding: 17px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: calc(100% - 34px);
  min-height: 106px;
  color: @dark-grey;
  border: 2px solid @dark-grey;

  @media (min-width: @tablet-width) {
    padding: 15px;
    font-size: 19px;
    line-height: 18px;
  }
}

.form__required-text {
  font-size: 14px;
  line-height: 16px;
  color: @dark-grey;
  margin: -5px 0 32px 0;

  @media (min-width: @tablet-width) {
    text-align: right;
    font-size: 17px;
    line-height: 30px;
    margin: 15px 50px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 225px;
  }
}

.form__submit-button {
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    width: 230px;
    margin-top: -40px;
    margin-left: 50px;
    margin-bottom: 45px;
    padding: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 225px;
  }
}
