.form {
  margin: 0 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.form__fieldset {
  border: none;
  margin: 20px 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: start;
    margin: 50px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 16.6% 83.4%;
    margin: 50px 51px 50px 52px;
  }
}

.form__fieldset-bgcolor-box {
  @media (min-width: @tablet-width) {
    background-color: @lighter-grey;
    padding: 25px 0;
  }
}

.form__wrapper-color {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
  }
}

.form__legend {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: @light-mint;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 1;
  }
}

.form__container {
  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 1;
    margin-top: -40px;
  }
}

.form__hidden-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  border: none;
  box-shadow: inset 0 -2px 0 @black;
  padding: 17px 0;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  background-color: inherit;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;
    padding: 17px;
    width: calc(100% - 34px);
  }
}

.form__label {
  font-weight: 700;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form__paragraph-full-name {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-items: start;
  margin-bottom: -18px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
    margin-bottom: 0;
  }
}

.form__paragraph-full-name,
.form__container-tel,
.form__container-email,
.form__container-add {
  @media (min-width: @desktop-width) {
    margin-right: 173px;
  }
}

.form__paragraph-full-name:last-of-type {
  margin-bottom: -5px;
}

.form__label-name,
.form__label-surname,
.form__label-patronymic {
  grid-row: 1;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 1;
    order: 0;
    margin-right: 25px;
  }
}

.form__input-name,
.form__input-surname,
.form__input-patronymic {
  grid-row: 2;

  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 1;
    order: 1;
    margin-top: -25px;
  }
}

.form__input-add {
  margin: 17px 0;
  padding: 17px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: calc(100% - 34px);
  min-height: 106px;
  color: @dark-grey;
  border: 2px solid @dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form__required-text {
  font-size: 14px;
  line-height: 16px;
  color: @dark-grey;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    text-align: right;
    font-size: 17px;
    line-height: 30px;
    margin-right: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 225px;
  }
}

.form__submit-button {
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    width: 200px;
    margin-top: -80px;
    margin-left: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 225px;
  }
}
