.input-text {
  position: relative;
}

.input-text__item {
  display: grid;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

.input-text__label {
  grid-row: 1;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 1;
    order: 0;
    margin-right: 25px;
  }
}

.input-text__input {
  padding: 17px 17px 15px 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    grid-column: 2;
    grid-row: 1;
    order: 1;
    padding: 15px 15px 11px 18px;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
  }
}

.input-text__tel {
  margin: 4px 0 21px 0;
  padding: 16px 45px 17px 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 5px 0;
    padding: 17px 45px 15px 17px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 17px 45px 17px 17px;
  }
}

.input-text__tel:hover ~ .input-text__tel-icon {
  fill: @lighter-mint;
}

.input-text__email:hover ~ .input-text__email-icon {
  fill: @lighter-mint;
}

.input-text__tel-icon {
  fill: @black-20;
  position: absolute;
  right: 18px;
  top: 60px;

  @media (min-width: @tablet-width) {
    right: 25px;
    top: -47px;
  }

  @media (min-width: @desktop-width) {
    right: 9px;
    top: 21px;
  }
}

.input-text__email {
  margin: 5px 0 15px 0;
  padding: 16px 45px 15px 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 5px 0;
    padding: 17px 45px 13px 17px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 5px 45px 12px 17px;
  }
}

.input-text__email-icon {
  fill: @black-20;
  position: absolute;
  right: 3px;
  top: -52px;
  content: "";
  width: 32px;
  height: 21px;

  @media (min-width: 768px) {
    right: 22px;
    top: -43px;
  }

  @media (min-width: 1150px) {
    right: 5px;
    top: 8px;
  }
}
