.radio-button__item {
  margin: 13px 0 0;

  @media (min-width: @tablet-width) {
    margin: 35px 0 0;
  }
}

.radio-button__label {
  position: relative;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.radio-button__input + .radio-button__label::before {
  display: inline-grid;
  content: "";
  min-width: 36px;
  height: 36px;
  border: 2px solid @decoration-color-2;
  border-radius: 50%;
  margin: 0 20px 0 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    transform: scale(1.24);
    margin-right: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 35px;
  }
}

.radio-button__input + .radio-button__label:hover::before,
.radio-button__input:focus + .radio-button__label::before {
  border: 2px solid @decoration-color-1;
}

.radio-button__input:active + .radio-button__label::before {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.radio-button__input:checked + .radio-button__label::after {
  display: inline-grid;
  position: absolute;
  content: "";
  left: 0.7em;
  min-width: 16px;
  height: 16px;
  background-color: @decoration-color-1;
  border: none;
  border-radius: 50%;
  padding: 0;

  @media (min-width: @tablet-width) {
    transform: scale(1.24);
    margin-right: 27px;
    left: 0.65em;
  }
}

.radio-button__input:disabled + .radio-button__label::before {
  border: 2px solid @border-2;
}

.radio-button__input:disabled + .radio-button__label::after {
  background: none;
}
