.textarea__add {
  padding: 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  min-width: 224px;
  min-height: 105px;
  color: @black;
  border: 2px solid @dark-grey;
  margin: 23px 0 0 0;
  outline: none;

  &:hover,
  &:focus {
    border: 2px solid @lighter-mint;
  }

  @media (min-width: @tablet-width) {
    padding: 16px 15px;
    font-size: 19px;
    line-height: 18px;
    margin: 41px 0 38px 20px;
    min-width: 467px;
  }

  @media (min-width: @desktop-width) {
    margin: 21px 0 13px 20px;
    min-width: 667px;
  }
}
