.production-process {
  margin: 32px 0 58px 0;
  border: 1px solid @white-grey;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto auto auto;
  }
}

.production-process__title {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  margin: 21px 13px 25px 91px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin: 2.37em 1em 1em 5.3em;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 1;
    margin: 47px 50px 0 80px;
  }
}

.production-process__title::before {
  position: absolute;
  top: 12px;
  left: -58px;
  display: inline-grid;
  content: "";
  width: 32px;
  height: 22px;
  background: url("../img/video.svg") left center no-repeat;

  @media (min-width: @tablet-width) {
    top: -0.1em;
    left: -3.3em;
  }
}

.production-process__container {
  display: grid;
  position: relative;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.production-process__container::before {
  position: absolute;
  display: grid;
  align-self: center;
  justify-self: center;
  content: "";
  width: 101px;
  height: 77px;
  background: url("../img/play.svg") no-repeat;
}

.production-process__poster {
  width: 668px;
  height: 445px;
  content: url("../img/video-tablet.jpg");
}

.production-process__text {
  font-size: 13px;
  line-height: 24px;
  color: @dark-grey;
  margin: 35px 0 0 34px;

  @media (min-width: @tablet-width) {
    order: 2;
    margin: 0.3em 2em 2.8em 2.6em;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    margin-left: 80px;
  }
}

.production-process__button-making-order {
  font-size: 18px;
  line-height: 16px;
  width: 8.67em;
  margin: 41px auto 32px auto;
  padding: 16px;

  @media (min-width: 768px) {
    order: 3;
    width: calc(100% - 120px);
    margin: 0 auto 46px auto;
    font-size: 17px;
    line-height: 16px;
  }

  @media (min-width: 1150px) {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
    width: 200px;
    margin-left: 80px;
  }
}
