.production-process {
  width: 260px;
  margin: 30px 0 57px;
  border: 1px solid @border-1;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px @border-2;
  }

  &:active {
    box-shadow: 0 3px 5px @border-2;
  }

  @media (min-width: @tablet-width) {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px auto 63px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto auto auto;
    margin: 0.2em auto 6.1em;
  }
}

.production-process__title {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  margin: 23px 13px 26px 90px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin: 2.1em 1em 1em 5.32em;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 1;
    margin: 4.8em 3em 0.2em 4em;
  }
}

.production-process__title::before {
  position: absolute;
  top: 12px;
  left: -58px;
  display: inline-grid;
  content: "";
  width: 32px;
  height: 22px;
  background: url("../img/video.svg") left center no-repeat;

  @media (min-width: @tablet-width) {
    top: -0.1em;
    left: -3.28em;
  }

  @media (min-width: @desktop-width) {
    top: -2.4em;
    left: 0;
  }
}

.production-process__container {
  display: grid;
  position: relative;
  height: 150px;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-row: 1;
    height: 455px;
    margin-top: -1px;
  }

  @media (min-width: @desktop-width) {
    background-size: cover;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 683px;
  }
}

.production-process__button-play {
  position: absolute;
  display: grid;
  align-self: center;
  justify-self: center;
  outline: none;
  border: none;
  background: none;

  &:hover .production-process__img-play,
  &:focus .production-process__img-play {
    transform: scale(1.2);
  }

  &:active .production-process__img-play {
    transform: scale(0.8);
    fill: @icon-down;
  }
}

.production-process__img-play {
  fill: @decoration-color-4;
}

.production-process__poster {
  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    width: 683px;
  }
}

.production-process__text {
  font-size: 13px;
  line-height: 24px;
  color: @decoration-color-2;
  margin: 35px 0 0 33px;

  @media (min-width: @tablet-width) {
    order: 2;
    margin: 0.3em 2em 2.7em 2.6em;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    margin: 0.4em 2em 2em 5.3em;
  }
}

.production-process__button-making-order {
  font-size: 18px;
  line-height: 16px;
  width: 8.67em;
  margin: 41px auto 32px;
  padding: 16px;

  @media (min-width: @tablet-width) {
    order: 3;
    width: calc(100% - 120px);
    margin: 0 auto 44px;
    font-size: 17px;
    line-height: 16px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
    width: 200px;
    padding: 16px 13px;
    margin: 0.3em 2em 3.6em 4.75em;
  }
}
